{% load i18n %}
{% load helpers %}
{% load static %}
{% load form_helpers %}

<div class="row my-2">
    <div class="col col-md-5">
        <div class="card">
        
            <div class="card-body">
                <h4>Sync your Slurp'it Device Interface to NetBox</h4>
                <span>
                    After obtaining Device Interface information from Slurp'it, Set default values for some values before inserting them into the NetBox.
                </span>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col col-md-5">
            <div class="card">
            <div class="card-body">
                <div class="tab-pane show active interface-tab-pane" id="edit-form" role="tabpanel" aria-labelledby="object-list-tab">
                <form action="" method="post" enctype="multipart/form-data" class="form-object-edit">
                    {% csrf_token %}
                    <div id="form_fields">
                    <input type="hidden" value="interface" name="mappingtype"/>
                    <div class="field-group my-2">
                        {% render_field form.enable_reconcile %}
                        {% render_field form.module %}
                        {% render_field form.ignore_module %}
                        {% render_field form.type %}
                        {% render_field form.ignore_type %}
                        {% render_field form.speed %}
                        {% render_field form.ignore_speed %}
                        {% render_field form.duplex %}
                        {% render_field form.ignore_duplex %}
                    </div>
                    </div>
            
                    <div class="text-end mt-3">
                      <button type="submit" name="_update" class="btn btn-primary protect-btn">
                          {% trans "Save" %}
                      </button>
                    </div>
                </form>
                </div>
            </div>
            
            </div>
        </div>
    </div>
</div>

<style>
  .interface-tab-pane label.text-lg-end {
    text-align: left !important;
  }
  .interface-tab-pane .mb-3 {
    margin-bottom: 3px !important;
  }

  html[data-netbox-color-mode=dark] .interface-tab-pane .mb-3 {
    margin-bottom: 3px !important;
  }

  .interface-tab-pane .form-text {
    display: none !important;
  }

  .interface-tab-pane .row:first-child .offset-3 {
    margin-left: 0px !important;
  }

  .interface-tab-pane .offset-3 {
    margin-bottom: 8px;
  }
</style>