{% load i18n %}
{% load helpers %}
{% load static %}
{% load form_helpers %}

<div class="row my-2">
    <div class="col col-md-5">
        <div class="card">
        
            <div class="card-body">
                <h4>Sync your Slurp'it Vlan to NetBox</h4>
                <span>
                    After obtaining Vlan information from Slurp'it, Set default values for some values before inserting them into the NetBox.
                </span>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col col-md-5">
            <div class="card">
            <div class="card-body">
                <div class="tab-pane show active vlan-tab-pane" id="edit-form" role="tabpanel" aria-labelledby="object-list-tab">
                <form action="" method="post" enctype="multipart/form-data" class="form-object-edit">
                    {% csrf_token %}
                    <div id="form_fields">
                    <input type="hidden" value="vlan" name="mappingtype"/>
                    <input type="hidden" value="1" name="vid"/>
                    <div class="field-group my-2">
                      {% render_field form.enable_reconcile %}
                      {% render_field form.status %}
                      {% render_field form.ignore_status %}
                      {% render_field form.role %}
                      {% render_field form.ignore_role %}
                      {% render_field form.tenant_group %}
                      {% render_field form.tenant %}
                      {% render_field form.ignore_tenant %}
                      {% render_field form.description %}
                      {% render_field form.ignore_description %}
                    </div>
                    </div>
            
                    <div class="text-end mt-3">
                      <button type="submit" name="_update" class="btn btn-primary protect-btn">
                          {% trans "Save" %}
                      </button>
                    </div>
                </form>
                </div>
            </div>
            
            </div>
        </div>
    </div>
</div>

<style>
  .vlan-tab-pane label.text-lg-end {
    text-align: left !important;
  }

  .vlan-tab-pane .mb-3 {
    margin-bottom: 3px !important;
  }

  html[data-netbox-color-mode=dark] .vlan-tab-pane .mb-3 {
    margin-bottom: 3px !important;
  }

  .vlan-tab-pane .form-text {
    display: none !important;
  }

  .vlan-tab-pane .row:first-child .offset-3 {
    margin-left: 0px !important;
  }

  .vlan-tab-pane .offset-3 {
    margin-bottom: 8px;
  }
</style>

<script>
  // Select the button using the hx-target attribute and class
  const buttons = document.querySelectorAll('button[hx-target="#htmx-modal-content"]');

  // Iterate through the NodeList and remove each button
  buttons.forEach(button => {
      button.remove();
  });
</script>