{% extends 'slurpit_netbox/source.html' %}
{% load buttons %}
{% load i18n %}


{% block bulk_buttons %}
<div class="btn-group" role="group">
  {% bulk_edit_button model query_params=request.GET %}
  <button type="submit" name="_rename"
          formaction="{% url 'plugins:slurpit_netbox:planning_edit' pk=request.resolver_match.kwargs.pk %}?return_url={% url 'plugins:slurpit_netbox:source_planning' pk=request.resolver_match.kwargs.pk %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
          class="btn btn-blue btn-sm">
    <i class="mdi mdi-sync" aria-hidden="true"></i> {% trans "Attach as tabs" %}
  </button>
</div>
{% endblock %}