{% extends 'generic/object_children.html' %}
{% load buttons %}
{% load i18n %}


{% block bulk_edit_controls %}
    <div class="btn-group" role="group">
      <button type="submit" name="_rename"
              formaction="{% url 'plugins:slurpit_netbox:source_planning' pk=request.resolver_match.kwargs.pk %}?return_url={% url 'plugins:slurpit_netbox:source_planning' pk=request.resolver_match.kwargs.pk %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
              class="btn btn-blue btn-sm">
        <i class="mdi " aria-hidden="true"></i> {% trans "Attach as tabs" %}
      </button>
      <button type="submit" name="_rename"
              formaction="{% url 'plugins:slurpit_netbox:source_fetch_planning' pk=request.resolver_match.kwargs.pk %}?return_url={% url 'plugins:slurpit_netbox:source_planning' pk=request.resolver_match.kwargs.pk %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
              class="btn btn-blue btn-sm">
        <i class="mdi " aria-hidden="true"></i> {% trans "Refetch from source" %}
      </button>
    </div>
{% endblock bulk_edit_controls%}
